#search-input {
    width: 100%;
    height: 2em;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.header {
    border-right: 1px solid rgb(209, 209, 209);
}

.main {
    height: 70%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}