.slider {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slider__button {
    height: 40px;
    width: 30px;
    background-color: rgb(121, 121, 121);
}
.slider__container {
    border: 1px solid green;
    height: 100px;
    width: 300px;
    text-align: center;
}

.slider__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid lightgray;
    background-color: rgb(172, 172, 172);
    width: 10px;
    height: 10px;
    border-radius: 35%;
    margin: 3px;
}

.content-block {
    display: none;
}

.active {
    display: block;
}