.tabber__button {
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    outline: none;
    position: relative;
    border-bottom: none;
}

.tabber__button--selected {
    top: 1px;
}

.tabber-none {
    display: none;
}

.tabber {
    margin-top: 5em;
}


@media screen and (max-width: 400px) {
    .tabber {
        margin-top: 0;
    }
}