.big-table {
    margin: 5px;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.big-table__column--first {
    border-left: 1px solid darkgrey;
}

.big-table__header {
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
    width: 100%;
    background-color: gainsboro;
    border: 1px solid darkgrey;
    padding: 3px 0;
}

.day-info {
    font-size: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    border-right: 1px solid darkgrey;
    border-top: 1px solid darkgray;
}

.day-info__date {
    border-bottom: 1px solid darkgrey;
    padding: 3px;
    text-align: center;
    height: 1.5em;
    font-size: 12px;
}

.day-info__details {
    display: inline-block;
    width: 23%;
    font-size: 12px;
}

.wind-info {
    box-sizing: border-box;
    border-right: 1px solid darkgrey;
    padding: 0.3em;
    text-align: center;
    width: 25%;
    font-size: 0;
    display: inline-block;
    padding: 4px 0;
}

.wind-info__speed {
    display: inline-block;
    background: gainsboro;
    width: 23%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    font-size: 12px;
}

.fallout {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    width: 25%;
    height: 50px;
    text-align: center;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding-top: 10px;
}

.fallout__amount {
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    position: relative;
    bottom: 1px;
    width: 25%;
    background-color: lavender;
    border-top: 3px solid royalblue;
    vertical-align: bottom;
}

.center-it {
    margin: auto;
}

section#sun-and-moon {
    text-align: center;
}

#moon,
#sun {
    display: inline-block;
    margin: 17px 0;
    text-align: left;
}

.moon__info,
.sun__info {
    vertical-align: top;
    display: inline-block;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

.sun-and-moon-header {
    border: 1px solid darkgrey;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    background-color: gainsboro;

}

.sun-and-moon-header__date {
    position: absolute;
}