.day-forecast__date {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media screen and (min-width: 767px) {
    .table {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center; 
        height: 500px;
        
    }
    .day-forecast__forecast {
        display: flex;
    }
    .forecast-info {
        font-size: 0.9em;
    }
    .forecast-info__wind-label {
        flex: 1;
        height: 2em;
        width: 100%;
        background-color: var(--border-color);
    }
    .day-forecast__forecast {
        border-right: 1px solid var(--border-color);
    }
    .forecast-info__precipitation {
        display: flex;
        justify-content: center;
    }

    .forecast-info__wind-label--here {
        content: "Maximum wind speed";
    }

    .forecast-info__wind {
        height: 2em;
    }
    .row {
        border: none;
        text-align: center;
        width: 100%;
        border-top: 3px solid var(--third-color-dark);
    }
}