#wrapper
{
    margin: auto;
    width: 800px;
    border: 1px solid darkgray;
    color: rgb(68, 68, 68);
    font-family: 'Arial', serif ;
    font-size: 13px;
}

#navigation
{
    border-bottom: 1px solid darkgray;
    background-color: gainsboro;
    padding: 10px 0;
}

#search-input {
    background: lightgray;
}

.navigation_ul {
    margin: 0;
    font-size: 0;
    -webkit-padding-start: 12px;
}

.navigation_ul li
{
    display: inline-block;
    border: 1px solid darkgray;
    background-color: #fff;
    padding: 0px 7px;
    height: 2em;
    line-height: 2em;
    margin: 0;
    font-size: 12px;
    margin-right: 4px;
    /*color: dimgray;*/
}

#search-tab
{
    border-bottom: 1px solid darkgray;
    background-color: whitesmoke;
    padding: 5px 7px;
    height: 1.6em;
    position: relative;
}

.search-tab__form
{
    display: inline-block;
    position: absolute;
    right: 20px;
}

.search-tab__form::before {
    content: url("/images/ic_head_loupe.svg");
    position: relative;
    top: 2px;
}

#footer
{
    background-color: gainsboro;
    padding: 3px;
}

main
{
    border-bottom: 1px solid darkgray;
}

span.visible {
    font-size: 12px;
}