@media only screen and (max-width : 812px) and (orientation: portrait) {
    :root {
        --font-size: 1.4em;
    }

    .navigation-menu {
        flex-direction: column;
    }

    .search-tab {
        flex-direction: column;
        padding: 0.3em 0 0 0;
    }

    .search-tab__air-pollution-label {
        text-align: center;
    }

    .search-tab__form {
        border: none;
        border-top: 1px solid var(--border-color);
    }

    .search-input {
        background-position-y: 0.9em;
    }
}