:root {
    --font-color-secondary: black; 
    --font-family: "Bahnschrift";
}

.body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 100%;
    width: 150px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin: .5em 0 0 0;
}

.navigation__link {
    display: block;
    text-decoration: none;
    color: var(--font-color-secondary);
    font-family: var(--font-family);
    width: 100%;
    padding: 0.9em;
}

.navigation__link--active {
    text-decoration: underline;
}

.wrapper {
    flex: 1;
}

.main-data__town-name {
    font-size: 3em;
    font-weight: 900;
}

.main-data__weather-type-img {
    font-size: 100px;
}