:root {
    --font-color-secondary: black; 
    --font-family: "Bahnschrift";

    --main-color: rgb(236, 224, 108);
}

.body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100%;
    display: flex;
    background-color: var(--main-color);
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5em 0 0 0;
}

.navigation__link {
    display: block;
    text-decoration: none;
    color: var(--font-color-secondary);
    font-family: var(--font-family);
    text-align: center;
    min-width: 70px;
    padding: 0.9em;
}

.navigation__link--active {
    text-decoration: underline;
}

.wrapper {
    flex: 1;
}

.main-data__town-name {
    font-size: 3em;
    font-weight: 900;
}

.main-data__weather-type-img {
    font-size: 100px;
}


@media screen and (max-width: 400px) {
    .body {
        flex-direction: column;
        height: unset;
    }

    .header {
        height: unset;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(209, 209, 209);
    }
}