.center-inline-g {
    text-align: center;
}

.center-block-g {
    margin-right: auto;
    margin-left: auto;
}

.center-inline-v {
    line-height: 100%;
    vertical-align: middle;
    line-height: 200px; 
}

.center-block-v {
    position: relative;
    top: 50%;
}

span.visible {
    font-size: 12px;
}

