.about-town {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0.3em;
}

.town-name,
.todays-date,
.weather-type {
    width: 100%;
}

.town-name {
    font-size: 2.5em;
}

.temperature-block {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 10vw 0 0;
}

.temperature-block__temperature {
    font-size: 2.4em;
}

.temperature-block__cf {
    position: relative;
    bottom: 0.5em;
}

.details {
    min-width: 140px;
    flex: 1;
}

.about-town__buttons {
    margin: 1em 0 0 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.time-row {
    width: 100%;
    text-align: center;
}

.precipitation-probability-graph {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex: 1;
}

@media screen and (min-width: 767px) {
    .about-town {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .forecast {
        padding: 0 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .forecast-info {
        height: 120px;
        display: flex;
        flex-direction: column;
        border: none;
    }
    .graph {
        display: flex;
        flex-direction: row;
        padding: 0 10vw;
    }
    .graph__part {
        flex: 1;
    }

    .forecast-info__day-name,
    .forecast-info__weather-type,
    .forecast-info__temperatures,
    .forecast-info__pollen,
    .forecast-info__wind,
    .forecast-info__precipitation {
        flex: 1;
    }

    .temperature-button {
        border-left: 1px solid var(--border-color);
    }
    .wind-button {
        border-right: 1px solid var(--border-color);
    }
}